
*{
    font-family: "Open Sans", sans-serif;
}

/* Shared Style */
.primary-btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding: 15px 25px;
}

/* navigation */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
   color: black;
   font-weight: 800;
   font-size: 45px;
}

.title-colour{
    color: #FD6E0A;
}

nav > ul {
    align-items: center;
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

/* Header Style */
.header-class{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-image{
    width: 500px;
}